.h1_name
{
    font: 700 45px/1.5 Open Sans;
    color: #333;
    margin-bottom: 3.3%;
    padding: 8% 0 0 0;
}

.h2
{
    font: 400 36px/1.5 Open Sans;
    color: #333;
    margin: 37px 0 -20px 2px;
}

.p
{
    font: 18px/1.8 Georgia;
	margin: 29px 0 0 4px;
	color: #555;

}

.ol 
{
    font: 500 19px/1.9 Georgia;
    width: 100%;
    color: #555;
    margin: 9px 0 0 -21px;
}

.ul {
    font: 500 18px/2 Georgia;
    color: #555;
    margin: 11px 0 0 20px;
    padding: 0;
}

.my_photo
{
	width: 35.7%;
	border-radius: 5px;
    float: left;
    display: block;
}

.img2
{
	height: 72px;
	width: 120px;
    margin-top: 36px;
}

.band
{
	height: 13px;
    width: 14%;
}

.box
{
	width: 63.1%;
    padding: 220px 20% 0 17.2%;
    margin-top: 2.7%;
    background-image: url(../images/shapka.jpg);
    background-size: 100% 409px;
    background-repeat: no-repeat;
    clear: both;
}

.leftbox_hobby
{
    width: 35%;
    float: left;
    margin: 0 5% 100px 0;
}

.rightbox_hobby
{
    margin: -21px 0 0 2px;
    position: static;
    float: left;
    width: 59%;
}

.last_film
{
    font: 500 18px/1.5 Georgia;
    display: block;
    background-color: #14a98b;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    width: 13%;
    margin: 0 auto;
    margin-bottom: 95px;
    padding: 13px 14px 13px 14px;
    border-radius: 5px;
}

.box_hobby
{
    width: 65.5%;
    margin: 0 auto;
}

.box_films
{
    width: 82.2%;
    margin: 56px auto;
}

.box_film
{
    margin: 48px 1.6% 0 0.1%;
    width: 23.7%;
    display: block;
    position: static;
    float: left;
}

.img_film
{
    width: 100%;
    height: 190px;
    border-radius: 5px;
}

.p_film
{
    font: 16px/1.75 Georgia;
    color: #555;
    margin: 0px 0 0 1px;
}

.h3
{
    font: 700 22px/1.5 Open Sans;
    margin: 20px 0 15px -2px;
}

.box_film_last
{
    width: 23.7%;
    margin: 49px 0 0 0%;
    display: block;
    position: static;
    float: left;
}

.listheading
{
    font: 600 24px/1.5 Open Sans;
    color: #15a98c;
    margin-top: 43px
}

.listheading_film
{
    margin-top: 40px;
}

.quote
{
    font: italic 27px/1.6 Georgia;
    margin: 25px 0 7px 3px;
    color: #fff;
}

.autor
{
    font: 17px/1.5 Open Sans;
    margin: 3px 0 0 10px;
    color: #fff;
}

.arrow
{
    font: 500 15px/1 Georgia;
	color: #15a98b;
}

.link_vk
{
    font: 500 19px/1.5 Georgia;
    color: #15a98b;
    margin: 44px 0 0 2px;
}

.link_arr
{
    text-decoration: none;
    font: 500 15px/1 Georgia;
    color: #15a98b;
    padding: 0;
    margin: 0;

}

.boxquote
{
    float: left;
    width: 55%;
    margin-left: 6%;
}

.clear
{
    clear: both;
}

.position
{
    margin-left: -0.6%;
}

.container 
{
  display: grid;
  grid-template-rows: 100%;
}

.shapka
{
    position: static;
    list-style-type: none;
    margin: 0 0 0 17.1%; 
    padding: 0;
    overflow: hidden;   
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 48px;
    box-shadow: 0 0 0 2px #14a98b;
}

.li_in_shapka
{
    padding: 0px;
}

.li
{
    font: 500 19px/1.5 Georgia;
    text-align: center;
    color: #333;
    display: inline;
    float: left;
    margin: 0;
    padding: 11.8px 1.9% 5px 3.6%;
    height: 31px;
    text-decoration: none;
}

.li:hover
{
    font: 600 Georgia;
    background-color: #14a98b;
    color: #f5f5f5;
}

.hover_on_me
{
    background-image: url(../images/about_me_icon.png);
    background-size: 92px;
    background-position: 42% 9px;
    background-repeat: no-repeat;

}

.hover_on_me:hover
{
    background-image: url(../images/about_me_icon_hover.png);
    background-repeat: no-repeat;
}

.hover_on_hobby
{
    background-image: url(../images/hobby_icon.png);
    background-size: 90px;
    background-position: 26% 10px;
    background-repeat: no-repeat;
}

.hover_on_hobby:hover
{
    background-image: url(../images/hobby_icon_hover.png);
    background-repeat: no-repeat;
}

.hover_on_films
{
    background-image: url(../images/video_icon.png);
    background-size: 92px;
    background-position: 12% 10px;
    background-repeat: no-repeat;
}

.hover_on_films:hover
{
    background-image: url(../images/video_icon_hover.png);
    background-repeat: no-repeat;
}

.text-decoration-none
{
    text-decoration: none;
}

.footer
{
    color: #555;
    font: 400 16px/2 Georgia;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

.countbox
{
    -webkit-appearance: none;
    background-image: url(../images/arrow_down.png);
    background-position: right -37px top 56px;
    margin: 0 0 35px 0;
    padding: 0 0px 0 17px;
    font: 400 18px/1.5 Open Sans;
    height: 52px;
    width: 101%;
    border: 2px solid #c9c9c9;
    border-radius: 2px;
    color: #555;
}

.input_box
{
    width: 50%;
    margin: 0 auto;
}

.aboutme
{
    width: 36.6%;
    margin: 0 auto;
}

.linepng
{
    float: left;
    width: 29%;
    margin: 23px 0 0 0;
}

.titleme
{
    font: 400 20px/2 Open Sans;
    float: left;
    margin: 0; 
}

.spec
{
    font: 600 25px/1.5 Open Sans;
    color: #f00;
    float: left;
    margin: -4px 0 0 4px;
}

.inpboxText
{
    font: 400 20px/2 Open Sans;
    width: 96%;
    border: 2px solid #c9c9c9;
    border-radius: 2px;
    padding: 2.2%;
    color: #555;
    margin-bottom: 49px;
    resize: none;
}

.inpbox
{
    font: 400 18px/1.5 Open Sans;
    height: 45px;
    width: 93%;
    border: 2px solid #c9c9c9;
    border-radius: 2px;
    padding: 0 19px 0 19px;
    color: #555;
    margin: 0 0 20px 0;
}

.writeme
{
    font: 100 35px/1.5 Open Sans;
    width: 40%;
    text-align: center;
    color: #333;
    float: left;
    margin: 3px 0 59px 0;
}

.ball
{
    width: 13px;
    color: #333;
    float: left;
    margin: 12px 0 0 0;    
}

.genbox
{
    margin-top: 15px;
}

.textongenbox
{
    font: 400 18px/1.5 Open Sans;
    float: left;
    margin: 4px 41px 34px 8px;
}

.button
{
    font: 100 18px/1.5 Georgia;
    width: 41%;
    height: 49px;
    background-color: #14a98b;
    border: 0;
    border-radius: 5px;
    color: #f5f5f5;
    margin: 0 0 66px 0;
}