.h1_name
{
    font: 700 45px/1.5 Open Sans;
    color: #333;
    margin-bottom: 3.3%;
    padding: 8% 0 0 0;
}

.h2
{
    font: 400 36px/1.5 Open Sans;
    color: #333;
    margin: 37px 0 -20px 2px;
}

.p
{
    font: 18px/1.8 Georgia;
	margin: 29px 0 0 4px;
	color: #555;

}

.ol 
{
    font: 500 19px/1.9 Georgia;
    width: 260px;
    color: #555;
    margin: 9px 0 0 -21px;
}

.ul {
    font: 500 18px/2 Georgia;
    color: #555;
    margin: 11px 0 0 20px;
    padding: 0;
}

.my_photo
{
	height: 349px;
    width: 330px;
	border-radius: 5px;
    float: left;
    display: block;
}

.img2
{
	height: 72px;
	width: 120px;
    margin-top: 36px;
}

.band
{
	height: 13px;
    width: 14%;
}

.box
{
	width: 63.1%;
    padding: 220px 20% 0 17.2%;
    margin-top: 2.7%;
    background-image: url(../images/shapka.jpg);
    background-size: 100% 409px;
    background-repeat: no-repeat;
    clear: both;
}

.leftbox_hobby
{
    width: 35%;
    float: left;
    margin: 0 5% 100px 0;
}

.rightbox_hobby
{
    margin: -21px 0 0 2px;
    position: static;
    float: left;
    width: 59%;
}

.last_film
{
    font: 500 18px/1.5 Georgia;
    display: block;
    background-color: #14a98b;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    width: 13%;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 13px 14px 13px 14px;
    border-radius: 5px;
}

.box_hobby
{
    width: 65.5%;
    margin: 0 auto;
}

.box_films
{
    width: 82.2%;
    margin: 56px auto;
}

.box_film
{
    margin: 48px 1.6% 0 0.1%;
    width: 23.7%;
    display: block;
    position: static;
    float: left;
}

.img_film
{
    width: 100%;
    height: 190px;
    border-radius: 5px;
}

.p_film
{
    font: 16px/1.75 Georgia;
    color: #555;
    margin: 0px 0 0 1px;
}

.h3
{
    font: 700 22px/1.5 Open Sans;
    margin: 20px 0 15px -2px;
}

#box_film
{
    width: 23.7%;
    margin: 49px 0 0 0%;
    display: block;
    position: static;
    float: left;
}

.listheading
{
    font: 600 24px/1.5 Open Sans;
    color: #15a98c;
    margin-top: 44px;
}

.listheading_film
{
    margin-top: 40px;
}

.quote
{
    font: italic 27px/1.6 Georgia;
    margin: 25px 0 7px 3px;
    color: #fff;
}

.autor
{
    font: 17px/1.5 Open Sans;
    margin: 3px 0 0 10px;
    color: #fff;
}

#arrow
{
    font: 500 15px/1 Georgia;
	color: #15a98b;
}

.link_vk
{
    font: 500 19px/1.5 Georgia;
    color: #15a98b;
    margin: 44px 0 0 2px;
}

.link_arr
{
    text-decoration: none;
    font: 500 15px/1 Georgia;
    color: #15a98b;
    padding: 0;
    margin: 0;

}

.boxquote
{
    float: left;
    width: 55%;
    margin-left: 6%;
}

.clear
{
    clear: both;
}

.position
{
    margin-left: -0.6%;
}

.container 
{
  display: grid;
  grid-template-rows: 100%;
}

.shapka
{
    position: static;
    list-style-type: none;
    width: 65%;
    margin: 0 0 0 297px; 
    padding: 0;
    overflow: hidden;   
}

.li_in_shapka
{
    padding: 0px;
}

li a 
{
    font: 600 14px/1.5 Georgia;
    text-align: center;
    color: #333;
    display: inline;
    float: left;
    margin: 0;
    padding: 17px 4% 0 4%;
    height: 31px;
    text-decoration: none;
}

li a:hover 
{
    font: 600 Georgia;
    background-image: url("https://sun9-60.userapi.com/c856032/v856032493/20c5cb/5TUxJVETw4U.jpg");
    color: #f5f5f5;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 48px;
    box-shadow: 0 0 0 2px #14a98b;
}

.text-decoration-none
{
    text-decoration: none;
}

.footer
{
    color: #555;
    font: 400 16px/2 Georgia;
    clear: both;
    margin: 0 auto;
    text-align: center;
}