.h1
{
    font: 700 38px/1 Open Sans;
    line-height: 42px;
    color: #333;
    margin-bottom: 3.3%;
    padding: 7.7% 0 0 0;
}
.h2
{
    font: 400 29px/1 Open Sans;
    line-height: 45px;
    color: #333;
    margin: 29px 0 -22px 0;
}
.p
{
    font: 14px/1 Georgia;
	margin: 27px 0 0 4px;
	color: #555;
    line-height: 1.85;

}
.ol
{
    font: 500 14px/1 Georgia;
	width: 260px;
    line-height: 29px;
    color: #555;
    margin: -2px 0 0 -22px;
}
.ul
{
	font: 500 13px/1 Georgia;
    line-height: 29px;
    color: #555;
    padding-bottom: 12px;
    margin-left: -22px;
}
.img1
{
	height: 280px;
	width: 265px;
	border-radius: 5px;
    float: left;
    display: block;
}
.img2
{
	height: 72px;
	width: 120px;
    margin-top: 36px;
}
.img3
{
	height: 12px;
	width: 13%;
}
.box
{
	width: 50%;
    padding: 11% 25.1% 0 25.4%;
    margin-top: 2.7%; 
    display: block;
    background-image: url(../images/shapka.jpg);
    background-size: 100% 320px;
    background-repeat: no-repeat; 
    position: static;  
    clear: both;
}
.leftbox
{
    width: 260px;
    position: static;
    float: left;
    margin: -20px 51px 50px 0;
}
.rightbox
{
   margin-top: -20px; 
   position: static;
   float: left;
   width: 443px;
}
#last_film
{
    font: 500 14px/1 Georgia;
    display: block;
    position: static;
    background-image: url("../images/button_background.jpg");
    color: #f5f5f5;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    width: 9%; 
    margin:0 auto;
    border-radius: 5px;
}
.box1
{
    width: 50%;
    padding-left: 25.3%;
    padding-right: 24.7%;
    display: block;
    position: static; 
    top: 0;
}
.box2
{
    width: 64.5%;
    padding-left: 19%;
    margin: 74px 0 45px 0;
    display: block;
    position: static;
    top: 0;
}
.box3
{
    margin: 40px 1% 0 0;
    width: 24%;
    display: block;
    position: static;
    float: left;
}
.img_on_box3
{
    width: 99%;
    height: 154px;
    border-radius: 5px;
}
.p_on_box3
{
    font: 13px/1 Georgia;
    color: #555;
    margin: -5px 0 0 1px;
    line-height: 1.75;
}
.h3
{
    font: 700 17.5px/1 Open Sans;
    margin: 20px 0 24px 0;
}
#box
{
    width: 24% ;
    margin-top: 40px;
    display: block;
    position: static;
    float: left; 
}
.listheading-u
{
    font: 600 19px/1 Open Sans;
    line-height: 30px;
    color: #15a98c;
    margin-top: 65px;
    line-height: 10px;
}
.listheading-o
{
    font: 600 19px/1 Open Sans;
    color: #15a98c;
    margin-top: 30px;
    line-height: 8px;
}
.quote
{
    font: italic 133%/1 Georgia;
    line-height: 1.55;
    margin: 24px 0 0 3px;
    color: #fff;
}
.autor
{
    font: 13px/1 Open Sans;
    line-height: 30px;
    margin: 3px 0 0 6px;
    color: #fff;
}
#a
{
	margin-bottom: 35px;
}
#arrow
{
    font: 500 15px/1 Georgia;
	color: #15a98b;
}
.link
{
    font: 500 15px/1 Georgia;
	color: #15a98b;
    margin: 40px 0 0 2px;
}
.link2
{
    text-decoration: none;
    font: 500 15px/1 Georgia;
    color: #15a98b;
    padding: 0;
    margin: 0;

}
.boxquote
{
    float: left;
    width: 55%;
    margin-left: 6%;
}
.clear
{
    clear: both;
}
.position
{
    margin-left: -0.6%;
}
.container 
{
  display: grid;
  grid-template-rows: 100%;
}
.shapka
{
    position: static;
    list-style-type: none;
    width: 50%;
    margin: 0 0 0 24.7%; 
    padding: 0;
    overflow: hidden;
    
}
.li_in_shapka
{
    padding: 0px;
}
li a 
{
    font: 600 14px/1 Georgia;
    text-align: center;
    color: #333;
    display: inline;
    float: left;
    margin: 0;
    padding: 13px 4% 0 4%;
    height: 28.5px;
    text-decoration: none;
}
li a:hover 
{
    font: 600 Georgia;
    background-image: url("https://sun9-60.userapi.com/c856032/v856032493/20c5cb/5TUxJVETw4U.jpg");
    color: #f5f5f5;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 41.5px;
}
.clear
{
     clear: both;
}

.text-decoration-none
{
    text-decoration: none;
}